div.body	{ color: #333333; 
		  max-width: 800px;
		  padding-left: 10px;
		  font-size: smaller; 
		  font-family: Verdana, Tahoma, Arial, sans-serif; }

div.sec-head	{ color: #000000; 
		  font-weight: bold; } 
div.sec-body	{ }
div.sec-block	{ padding-bottom: 1em; }
div.ssec-head	{ color: #000000;
		  font-weight: bold; }
div.ssec-body	{ }
div.ssec-block	{ }

span.addr	{ } /* Address (Ad). */
span.arg	{ font-style: italic; } /* Command argument (Ar). */
span.author	{ } /* Author name (An). */
span.cmd	{ font-weight: bold; } /* Command (Cm). */
span.config	{ font-weight: bold; } /* Config statement (Cd). */
span.define	{ } /* Defines (Dv). */
span.desc	{ } /* Nd.  After em-dash. */
span.diag	{ font-weight: bold; } /* Diagnostic (Bl -diag). */
span.emph	{ font-style: italic; } /* Emphasis (Em). */
span.env	{ } /* Environment variables (Ev). */
span.errno	{ } /* Error string (Er). */
span.farg	{ font-style: italic; } /* Function argument (Fa, Fn). */
span.file	{ font-style: italic; } /* File (Pa). */
span.flag	{ font-weight: bold; } /* Flag (Fl, Cm). */
span.fname	{ font-weight: bold; } /* Function name (Fa, Fn, Rv). */
span.ftype	{ font-style: italic; } /* Function types (Ft, Fn). */
span.includes	{ font-weight: bold; } /* Header includes (In). */
span.lib	{ } /* Library (Lb). */
span.lit	{ font-family: monospace; } /* Literals (Bf -literal). */
span.macro	{ font-weight: bold; } /* Macro-ish thing (Fd). */
span.name	{ color: #003333; font-weight: bold; } /* Name of utility (Nm). */
span.opt	{ } /* Options (Op, Oo/Oc). */
span.ref	{ } /* Citations (Rs). */
span.ref-auth	{ } /* Reference author (%A). */
span.ref-book	{ font-style: italic; } /* Reference book (%B). */
span.ref-city	{ } /* Reference city (%C). */
span.ref-date	{ } /* Reference date (%D). */
span.ref-issue	{ font-style: italic; } /* Reference issuer/publisher (%I). */
span.ref-jrnl	{ font-style: italic; } /* Reference journal (%J). */
span.ref-num	{ } /* Reference number (%N). */
span.ref-opt	{ } /* Reference optionals (%O). */
span.ref-page	{ } /* Reference page (%P). */
span.ref-corp	{ } /* Reference corporate/foreign author (%Q). */
span.ref-rep	{ } /* Reference report (%R). */
span.ref-title	{ } /* Reference title (%T). */
span.ref-vol	{ } /* Reference volume (%V). */
span.symb	{ font-weight: bold; } /* Symbols. */
span.type	{ font-style: italic; } /* Variable types (Vt). */
span.unix	{ } /* Unices (Ux, Ox, Nx, Fx, Bx, Bsx, Dx). */
span.utility	{ font-weight: bold; } /* Name of utility (Ex). */
span.var	{ font-weight: bold; } /* Variables (Rv). */

a.link-ext	{ background: transparent url(external.png) center right no-repeat; padding-right: 12px; }/* Off-site link (Lk). */
a.link-includes	{ } /* Include-file link (In). */
a.link-mail 	{ background: transparent url(external.png) center right no-repeat; padding-right: 12px; }/* Mailto links (Mt). */
a.link-man	{ } /* Manual links (Xr). */
a.link-sec	{ text-decoration: none; border-bottom: 1px dotted #339999; } /* Section links (Sx). */

div.emph	{ font-style: italic; } /* Emphasis (Bl -emphasis). */
div.lit		{ margin: 3px; 
		  padding: 3px;
		  background-color: #EEEEEE; 
		  border: 1px solid #339999; 
		  color: #000000;
		  font-family: monospace; }
div.symb	{ font-weight: bold; } /* Symbols (Bl -symbolic). */

table.header	{ border-bottom: 1px dotted #dddddd; 
		  color: #999999; }
table.footer	{ border-top: 1px dotted #dddddd; 
		  color: #999999; }

