cscope.*
*.swap
.*.sw[po]
.sw[po]
*~
*.orig
*.diff
*.patch
*.rej
*.[1-9].gz
*.o
*.[psS]o
*.a
*.d
.depend
obj-ack
obj-gnu
tools/revision
TAGS
tags
GPATH
GRTAGS
GSYMS
GTAGS
\#*#
CVS
!/.gitignore
.gitignore
.svn

boot/boot
boot/bootblock
boot/cdbootblock
boot/cdbootblock.s
boot/dosboot
boot/dosboot.c
boot/edparams
boot/edparams.c
boot/installboot
boot/jumpboot
boot/masterboot
boot/mkfile
boot/rawfs86.c
commands/aal/aal
commands/acd/acd
commands/acknm/acknm
commands/ackstrip/ackstrip
commands/add_route/add_route
commands/advent/advent
commands/advent/advent1.dat
commands/advent/advent2.dat
commands/advent/advent3.dat
commands/advent/advent4.dat
commands/advent/advtext.h
commands/advent/setup
commands/arp/arp
commands/ash/arith.c
commands/ash/arith.h
commands/ash/arith_lex.c
commands/ash/builtins.c
commands/ash/builtins.h
commands/ash/init.c
commands/ash/mkinit
commands/ash/mknodes
commands/ash/mksignames
commands/ash/mksyntax
commands/ash/nodes.c
commands/ash/nodes.h
commands/ash/operators.c
commands/ash/operators.h
commands/ash/sh
commands/ash/signames.c
commands/ash/signames.h
commands/ash/syntax.c
commands/ash/syntax.h
commands/ash/token.h
commands/asmconv/asmconv
commands/at/at
commands/atnormalize/atnormalize
commands/autil/anm
commands/autil/asize
commands/autopart/autopart
commands/awk/awk
commands/awk/awkgram.c
commands/awk/awkgram.h
commands/awk/maketab
commands/awk/proctab.c
commands/backup/backup
commands/badblocks/badblocks
commands/banner/banner
commands/basename/basename
commands/bzip2/bzip2
commands/bzip2recover/bzip2recover
commands/cal/cal
commands/calendar/calendar
commands/cat/cat
commands/cawf/bsfilt
commands/cawf/cawf
commands/cdprobe/cdprobe
commands/chmem/chmem
commands/chmod/chmod
commands/chown/chown
commands/chroot/chroot
commands/ci/ci
commands/cksum/cksum
commands/cleantmp/cleantmp
commands/cmp/cmp
commands/co/co
commands/comm/comm
commands/compress/compress
commands/cp/cp
commands/crc/crc
commands/cron/cron
commands/crontab/crontab
commands/cut/cut
commands/date/date
commands/dd/dd
commands/de/de
commands/decomp16/decomp16
commands/dev2name/dev2name
commands/devsize/devsize
commands/df/df
commands/dhcpd/dhcpd
commands/dhrystone/dhrystone
commands/diff/diff
commands/dirname/dirname
commands/dis386/dis386e
commands/dis386/dis386o
commands/dis88/dis88
commands/diskctl/diskctl
commands/dosread/dosread
commands/du/du
commands/dumpcore/dumpcore
commands/ed/ed
commands/eject/eject
commands/elle/elle
commands/elle/ellec
commands/elvis/ctags
commands/elvis/elvis
commands/elvis/elvprsv
commands/elvis/elvrec
commands/elvis/fmt
commands/elvis/ref
commands/env/env
commands/expand/expand
commands/factor/factor
commands/fdisk/fdisk
commands/fetch/fetch
commands/file/file
commands/find/find
commands/finger/finger
commands/fingerd/in.fingerd
commands/fix/fix
commands/fold/fold
commands/format/format
commands/fortune/fortune
commands/fsck.mfs/fsck.mfs
commands/fsck1/fsck1
commands/ftp101/ftp
commands/ftpd200/in.ftpd
commands/gas2ack/gas2ack
commands/gcov-pull/gcov-pull
commands/getty/getty
commands/gomoku/gomoku
commands/grep/grep
commands/head/head
commands/hexdump/hexdump
commands/host/host
commands/hostaddr/hostaddr
commands/id/id
commands/ifconfig/ifconfig
commands/ifdef/ifdef
commands/indent/indent
commands/install/xinstall
commands/intr/intr
commands/ipcrm/ipcrm
commands/ipcs/ipcs
commands/irdpd/irdpd
commands/isoread/isoread
commands/join/join
commands/kill/kill
commands/last/last
commands/leave/leave
commands/less/less/less
commands/less/lessecho/lessecho
commands/less/lesskey/lesskey
commands/lex/lex
commands/lex/parse.c
commands/lex/parse.h
commands/lex/scan.c
commands/lex/skel.c
commands/life/life
commands/loadfont/loadfont
commands/loadkeys/loadkeys
commands/loadramdisk/loadramdisk
commands/logger/logger
commands/login/login
commands/look/look
commands/lp/lp
commands/lpd/lpd
commands/ls/ls
commands/m4/m4
commands/mail/mail
commands/make/make
commands/man/man
commands/mdb/mdb
commands/mdocml/mandoc
commands/mesg/mesg
commands/mined/mined
commands/mixer/mixer
commands/mkdir/mkdir
commands/mkfifo/mkfifo
commands/mkfs.mfs/mkfs.mfs
commands/mknod/mknod
commands/mkproto/mkproto
commands/mktemp/mktemp
commands/modem/modem
commands/mount/mount
commands/mt/mt
commands/nice/nice
commands/nohup/nohup
commands/nonamed/nonamed
commands/od/od
commands/padtext/padtext
commands/part/part
commands/partition/partition
commands/passwd/passwd
commands/paste/paste
commands/patch/patch
commands/pax/pax
commands/ping/ping
commands/pkg_install/add/pkg_add
commands/pkg_install/admin/pkg_admin
commands/pkg_install/create/pkg_create
commands/pkg_install/delete/pkg_delete
commands/pkg_install/info/pkg_info
commands/playwave/playwave
commands/postmort/postmort
commands/pr/pr
commands/pr_routes/pr_routes
commands/prep/prep
commands/printf/printf
commands/printroot/printroot
commands/profile/profile
commands/progressbar/progressbar
commands/proto/proto
commands/ps/ps
commands/pwd/pwd
commands/pwdauth/pwdauth
commands/ramdisk/ramdisk
commands/rarpd/rarpd
commands/rawspeed/rawspeed
commands/rcp/rcp
commands/rdate/rdate
commands/readall/readall
commands/readfs/readfs
commands/reboot/halt
commands/reboot/shutdown
commands/recwave/recwave
commands/remsync/remsync
commands/repartition/repartition
commands/rev/rev
commands/rget/rget
commands/rlogin/rlogin
commands/rlogind/in.rlogind
commands/rmdir/rmdir
commands/rsh/rsh
commands/rshd/in.rshd
commands/screendump/screendump
commands/sed/sed
commands/service/service
commands/shar/shar
commands/size/size
commands/sleep/sleep
commands/slip/slip
commands/sort/sort
commands/split/split
commands/stat/stat
commands/strings/strings
commands/stty/stty
commands/su/su
commands/sum/sum
commands/swapfs/swapfs
commands/swifi/swifi
commands/sync/sync
commands/synctree/synctree
commands/sysenv/sysenv
commands/syslogd/syslogd
commands/tail/tail
commands/talk/talk
commands/talkd/talkd
commands/tar/bsdtar
commands/tcpd/tcpd
commands/tcpdp/tcpdp
commands/tcpstat/tcpstat
commands/tee/tee
commands/telnet/ttn
commands/telnetd/in.telnetd
commands/term/term
commands/termcap/termcap
commands/tget/tget
commands/time/time
commands/tinyhalt/halt
commands/top/top
commands/touch/touch
commands/tr/tr
commands/truncate/truncate
commands/tsort/tsort
commands/ttt/ttt
commands/tty/tty
commands/udpstat/udpstat
commands/umount/umount
commands/uname/uname
commands/unexpand/unexpand
commands/uniq/uniq
commands/update/update
commands/uud/uud
commands/uue/uue
commands/vol/vol
commands/wc/wc
commands/which/which
commands/who/who
commands/write/write
commands/writeisofs/writeisofs
commands/xargs/xargs
commands/yacc/yacc
commands/yes/yes
commands/zdump/zdump
commands/zic/zic
commands/zmodem/rz
commands/zmodem/sz
drivers/acpi/acpi
drivers/ahci/ahci
drivers/amddev/amddev
drivers/at_wini/at_wini
drivers/atl2/atl2
drivers/audio/es1370/es1370
drivers/audio/es1371/es1371
drivers/audio/sb16/sb16
drivers/bios_wini/bios_wini
drivers/dec21140A/dec21140A
drivers/dp8390/dp8390
drivers/dpeth/dpeth
drivers/e1000/e1000
drivers/filter/filter
drivers/floppy/floppy
drivers/fxp/fxp
drivers/hello/hello
drivers/lance/lance
drivers/log/log
drivers/memory/memory
drivers/orinoco/orinoco
drivers/pci/pci
drivers/printer/printer
drivers/ramdisk/acpi
drivers/ramdisk/ahci
drivers/ramdisk/at_wini
drivers/ramdisk/bintoc
drivers/ramdisk/bios_wini
drivers/ramdisk/cdprobe
drivers/ramdisk/dev2name
drivers/ramdisk/ext2
drivers/ramdisk/floppy
drivers/ramdisk/image
drivers/ramdisk/image.c
drivers/ramdisk/loadramdisk
drivers/ramdisk/mfs
drivers/ramdisk/mount
drivers/ramdisk/newroot
drivers/ramdisk/passwd
drivers/ramdisk/pci
drivers/ramdisk/proto.gen
drivers/ramdisk/rs.single
drivers/ramdisk/service
drivers/ramdisk/sh
drivers/ramdisk/sysenv
drivers/ramdisk/system.conf
drivers/random/random
drivers/readclock/readclock.drv
drivers/rtl8139/rtl8139
drivers/rtl8169/rtl8169
drivers/sb16/sb16_dsp
drivers/sb16/sb16_mixer
drivers/ti1225/ti1225
drivers/tty/keymaps/dvorak.map
drivers/tty/keymaps/french.map
drivers/tty/keymaps/german.map
drivers/tty/keymaps/italian.map
drivers/tty/keymaps/japanese.map
drivers/tty/keymaps/latin-america.map
drivers/tty/keymaps/olivetti.map
drivers/tty/keymaps/polish.map
drivers/tty/keymaps/russian-cp1251.map
drivers/tty/keymaps/russian-cp866.map
drivers/tty/keymaps/russian.map
drivers/tty/keymaps/scandinavian.map
drivers/tty/keymaps/spanish.map
drivers/tty/keymaps/uk.map
drivers/tty/keymaps/ukraine-koi8-u.map
drivers/tty/keymaps/us-std-esc.map
drivers/tty/keymaps/us-std.map
drivers/tty/keymaps/us-swap.map
drivers/tty/tty
kernel/extracted-errno.h
kernel/extracted-mfield.h
kernel/extracted-mtype.h
kernel/kernel
servers/ds/ds
servers/ext2/ext2
servers/hgfs/hgfs
servers/inet/inet
servers/init/init
servers/ipc/ipc
servers/is/is
servers/iso9660fs/isofs
servers/mfs/mfs
servers/pfs/pfs
servers/pm/pm
servers/procfs/procfs
servers/rs/rs
servers/sched/sched
servers/vfs/vfs
servers/vm/vm
tools/image
tools/kernel
