[project]
	state = active
	description = Minix repository
[submit]
	action = fast forward only
[access "refs/heads/*"]
	create = group Minix admins
	forgeAuthor = group Administrators
	forgeAuthor = group Minix devs
	forgeCommitter = group Administrators
	forgeCommitter = group Minix devs
	label-Code-Review = -2..+2 group Minix devs
	label-Code-Review = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group Non-Interactive Users
	submit = group Minix devs
	push = +force group Administrators
	pushMerge = group Minix admins
[access "refs/*"]
	read = group Non-Interactive Users
