[project]
	state = active
	description = Minix repository
[submit]
	action = fast forward only
[access "refs/heads/*"]
	create = group Minix admins
	forgeAuthor = group Minix admins
	forgeCommitter = group Minix admins
	label-Code-Review = -2..+2 group Minix devs
	label-Verified = -1..+1 group Minix devs
	push = group Minix devs
