# $NetBSD: bluetoothdevices.config,v 1.1 2011/07/20 22:42:59 jakllsch Exp $
#
# Bluetooth devices for config(5) file inclusion.

# Bluetooth Controller and Device support

# Bluetooth PCMCIA Controllers
#bt3c* at pcmcia? function ?		# 3Com 3CRWB6096-A
#btbc* at pcmcia? function ?		# AnyCom BlueCard LSE041/039/139

# Bluetooth SDIO Controller
#sbt* at sdmmc?

# Bluetooth USB Controllers
#ubt* at uhub? port ?

# Bluetooth Device Hub
#bthub* at bcsp?
#bthub* at bt3c?
#bthub* at btbc?
#bthub* at btuart?
#bthub* at sbt?
#bthub* at ubt?


# Bluetooth HID support
bthidev* at bthub?

# Bluetooth Mouse
btms* at bthidev? reportid ?
wsmouse* at btms? mux 0

# Bluetooth Keyboard
btkbd* at bthidev? reportid ?
wskbd* at btkbd? console ? mux 1

# Bluetooth Apple Magic Mouse
btmagic* at bthub?
wsmouse* at btmagic? mux 0

# Bluetooth Audio support
btsco* at bthub?

# Bluetooth pseudo devices
pseudo-device	bcsp			# BlueCore Serial Protocol
pseudo-device	btuart			# Bluetooth HCI UART (H4)
