#	$NetBSD: usbdevices.config,v 1.24 2014/03/16 09:34:45 martin Exp $
#
# This file contains all USB related configuration.
# It is suitable for inclusion in a kernel config(5) file.
#

# USB Controller and Devices

# PCI USB controllers
#ehci*	at pci?	dev ? function ?	# Enhanced Host Controller
#ohci*	at pci?	dev ? function ?	# Open Host Controller
#uhci*	at pci?	dev ? function ?	# Universal Host Controller (Intel)

# CardBus USB controllers
#ehci*	at cardbus? function ?		# Enhanced Host Controller
#ohci*	at cardbus? function ?		# Open Host Controller
#uhci*	at cardbus? function ?		# Universal Host Controller (Intel)

# ISA USB controllers
#slhci0	at isa? port 0x300 irq 5	# ScanLogic SL811HS

# USB bus support
#usb*	at ehci?
#usb*	at ohci?
#usb*	at uhci?
#usb*	at slhci?


# USB Hubs
uhub*	at usb?
uhub*	at uhub? port ? configuration ? interface ?

# USB HID device
uhidev*	at uhub? port ? configuration ? interface ?

# USB Mice
ums*	at uhidev? reportid ?
wsmouse* at ums? mux 0

# USB Touchscreens
uts*	at uhidev? reportid ?
wsmouse* at uts? mux 0

# USB Keyboards
ukbd*	at uhidev? reportid ?
wskbd*	at ukbd? console ? mux 1

# USB TEMPer and TEMPerHUM
uthum*	at uhidev? reportid ?

# USB serial adapter
ucycom* at uhidev? reportid ?

# USB Generic HID devices
uhid*	at uhidev? reportid ?

# USB eGalax touch-panel
uep*	at uhub? port ?
wsmouse* at uep? mux 0

# USB LCDs and USB-VGA adapters
udl*	at uhub? port ?		# DisplayLink DL-1x0/1x5
wsdisplay* at udl?

# USB Printer
ulpt*	at uhub? port ? configuration ? interface ?

# USB Modem
umodem*	at uhub? port ? configuration ?
ucom*	at umodem?

# Option N.V. Wireless WAN modems
uhso*	at uhub? port ? configuration ?

# USB Mass Storage
umass*	at uhub? port ? configuration ? interface ?
scsibus* at umass?
atapibus* at umass?
sd*	at scsibus? target ? lun ?
wd*	at umass?

# flags have the same meaning as for IDE drives.
cd*	at atapibus? drive ? flags 0x0000       # ATAPI CD-ROM drives
sd*	at atapibus? drive ? flags 0x0000       # ATAPI disk drives
st*	at atapibus? drive ? flags 0x0000       # ATAPI tape drives
uk*	at atapibus? drive ? flags 0x0000       # ATAPI unknown

# USB audio
uaudio*	at uhub? port ? configuration ?
uaudio* at usbifif?
audio*	at uaudio?

# USB MIDI
umidi* at uhub? port ? configuration ?

# USB IrDA
# USB-IrDA bridge spec
uirda* at uhub? port ? configuration ? interface ?
irframe* at uirda?

# SigmaTel STIr4210/4220/4116 USB/IrDA Bridge - not quite UIRDA
stuirda* at uhub? port ?
irframe* at stuirda?

# SigmaTel STIr4200 USB/IrDA Bridge
ustir* at uhub? port ?
irframe* at ustir?

# Windows Media Center IR transceiver
irmce*	at uhub? port ?
cir*	at irmce?

# USB Ethernet adapters
aue*	at uhub? port ?		# ADMtek AN986 Pegasus based adapters
axe*	at uhub? port ?		# ASIX AX88172 based adapters
axen*	at uhub? port ?		# ASIX AX88178a/AX88179 based adapters
cdce*	at uhub? port ?		# CDC, Ethernet Networking Control Model
cue*	at uhub? port ?		# CATC USB-EL1201A based adapters
kue*	at uhub? port ?		# Kawasaki LSI KL5KUSB101B based adapters
udav*	at uhub? port ?		# Davicom DM9601 based adapters
url*	at uhub? port ?		# Realtek RTL8150L based adapters
urndis*	at uhub? port ?		# Microsoft RNDIS specification
usmsc*	at uhub? port ?		# SMSC95xx based adapters

# USB 802.11 adapters
atu*	at uhub? port ?		# Atmel AT76C50XX based adapters
otus*	at uhub? port ?		# Atheros AR9001U
ural*	at uhub? port ?		# Ralink Technology RT2500USB 802.11a/b/g
rum*	at uhub? port ?		# Ralink Technology RT2501/RT2601 802.11a/b/g
run*	at uhub? port ?		# Ralink Technology RT(2[78]|30)00 802.11a/b/g/n
upgt*	at uhub? port ?		# Intersil PrismGT
urtw*	at uhub? port ?		# Realtek RTL8187/RTL8187B 802.11b/g
urtwn*	at uhub? port ?		# Realtek RTL8188CU/RTL8192CU 802.11b/g/n
zyd*	at uhub? port ?		# Zydas ZD1211
athn*	at uhub? port ?		# Atheros AR9002U

# Prolific PL2301/PL2302 host-to-host adapter
upl*	at uhub? port ?

# Serial adapters
uark*	at uhub? port ?		# ArkMicroChips 3116 serial adapter
ucom*	at uark? portno?

ubsa*	at uhub? port ?		# Belkin serial adapter
ucom*	at ubsa? portno ?

uchcom*	at uhub? port ?		# WinChipHead CH340/CH341 serial adapter
ucom*	at uchcom? portno ?

uftdi*	at uhub? port ?		# FTDI FT8U100AX serial adapter
ucom*	at uftdi? portno ?

#uhmodem* at uhub? port ?	# Huawei E220 3G/HSDPA modem
#ucom* at uhmodem?

uipaq*	at uhub? port ?		# iPAQ PDAs
ucom*	at uipaq? portno ?

umct*	at uhub? port ?		# MCT USB-RS232 serial adapter
ucom*	at umct? portno ?

uplcom* at uhub? port ? 	# I/O DATA USB-RSAQ2 serial adapter
ucom*	at uplcom? portno ?

uslsa*	at uhub? port ?		# Silicon Labs serial adapters
ucom*	at uslsa? portno ?

uvscom* at uhub? port ? 	# SUNTAC Slipper U VS-10U serial adapter
ucom*	at uvscom? portno ?

# All chips supported by this driver are also supported by umcs(4).
# moscom* at uhub? port ? 	# Moschip MCS7xxx serial adapter
# ucom*	at moscom? portno ?

umcs* at uhub? port ?	 	# Moschip MCS7xxx serial adapter
ucom*	at umcs? portno ?

# RIM BlackBerry
uberry* at uhub? port ?

# Apple iPad
uipad* at uhub? port ?

# Diamond Multimedia Rio 500
urio*	at uhub? port ?

# USB Handspring Visor
uvisor*	at uhub? port ?
ucom*	at uvisor?

# Kyocera AIR-EDGE PHONE
ukyopon* at uhub? port ?
ucom*	at ukyopon? portno ?

# USB scanners
uscanner* at uhub? port ?

# USB scanners that use SCSI emulation, e.g., HP5300
usscanner* at uhub? port ?

# Topfield TF5000PVR range of DVB recorders
utoppy*	at uhub? port ?

# Y@P firmware loader
uyap* at uhub? port ?

# D-Link DSB-R100 USB radio
udsbr*	at uhub? port ?
radio*	at udsbr?

# Silicon Labs-based USB radio modules
slurm*	at uhub? port ?
radio*	at slurm?

# USB Generic driver
ugen*	at uhub? port ?

# USB 3G datacards
u3ginit* at uhub? port?
u3g*	at uhub? port ?
ucom*	at u3g?

# USB generic serial port (e.g., data over cellular)
ugensa*	at uhub? port ?
ucom*	at ugensa?

# USB Video capture devices
pseye*	at uhub?		# Sony PLAYSTATION(R) Eye webcam
uvideo* at uhub?		# USB Video Class capture devices
auvitek* at uhub?		# Auvitek AU0828 video capture devices
emdtv* at uhub?			# Empia EM28xx video capture devices
cir* at emdtv?			# Empia EM28xx infrared remote
video* at videobus?
dtv* at dtvbus?

# USB Bluetooth controllers
ubt* at uhub? port ?
aubtfwl* at uhub? port ?	# load Atheros AR3k ubt(4) firmware
bthub* at ubt?
